// Samotnya Svichka Color Palette
$darkBlue: #0B062D
$textColor: #0B062D
$titleSpanBlue: #7B2C35
$mainBlue: #7B2C35
$darkMainBlue: #6B252C
$mainYellow: #FFD97D
$darkMainYellow: #F5D06A

// Additional colors
$creamyWhite: #FAF3E0
$softGrayBlue: #BFCAD3
$woodBrown: #A67C52

@mixin backdrop
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100vw
  height: 100vh
  cursor: pointer
  visibility: hidden
  opacity: 0
  z-index: 10
  &_active
    animation: activeBackdrop .3s forwards

@keyframes activeBackdrop
  from
    opacity: 0
    visibility: hidden
  to
    opacity: 1
    visibility: visible
