.wrapContainer {
  display: flex;
  background-image: url("../../../assets/Images/ContactPage/contact_block_bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 160px;
}

.container {
  margin-left: 220px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  margin-top: 70px;
  color: #D92D20;
  font-family: Angry, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.title span {
  color: #D92D20;
}

.subtitle {
  color: #212121;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap1 {
  display: flex;
  gap: 30px;
}

.card {
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.info {
  color: #212121;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 128%;
  text-decoration: none;
  margin-bottom: 4px;
}

.infoSmall {
  color: #212121;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  margin-bottom: 0;
}

.map {
  width: 820px;
  height: 471px;
}

.mapWrap {
  display: flex;
  gap: 30px;
}

.contact_arrow {
  position: absolute;
  width: 220px;
  height: auto;
  top: 29%;
  left: 32%;
}

@media (max-width: 1500px) {
  .wrapContainer {
    gap: 70px;
  }
  .container {
    margin-left: 150px;
    padding: 30px 0;
  }
  .title {
    margin-top: 0;
    font-size: 38px;
  }
  .subtitle {
    font-size: 18px;
  }
  .info {
    font-size: 16px;
  }
  .map {
    width: 624px;
    height: auto;
  }
  .mapWrap {
    display: flex;
    gap: 20px;
  }
  .wrap1 {
    gap: 20px;
  }
  .wrap2 {
    flex-direction: column;
  }
  .contact_arrow {
    position: absolute;
    width: 150px;
    height: auto;
    top: 42%;
    left: 35%;
  }
}
@media (max-width: 1200px) {
  .container {
    margin: auto;
    padding: 0;
  }
  .title {
    text-align: center;
  }
  .wrapContainer {
    flex-direction: column;
    padding: 40px 0;
  }
  .mapWrap {
    margin: auto;
  }
  .map {
    width: 550px;
    height: 416px;
  }
  .wrap {
    align-items: center;
  }
  .wrap3 {
    align-items: flex-start;
  }
  .wrap2 {
    flex-direction: row;
  }
}
@media (max-width: 720px) {
  .title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .subtitle {
    font-size: 20px;
    text-align: center;
    margin: auto auto 20px auto;
  }
  .subtitle2 {
    margin-left: 0;
  }
  .wrap1 {
    flex-direction: column;
  }
  .wrap {
    align-items: flex-start;
  }
  .mapWrap {
    flex-direction: column;
    gap: 106px;
    width: 90%;
    transform: translateY(-60px);
  }
  .cardMod {
    transform: translateY(430px);
    z-index: 1;
  }
  .map {
    width: 100%;
    height: 381px;
  }
  .wrapContainer {
    padding: 40px 0 0 0;
  }
}

/*# sourceMappingURL=ContactsBlock.module.css.map */
