.myModal > :nth-child(1) {
  min-width: 1166px !important;
}
.myModal > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-direction: row;
}
.myModal > :nth-child(1) > :nth-child(1) > img {
  width: 592px !important;
  height: 690px !important;
  position: static !important;
  flex-shrink: 0;
}
.myModal > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  padding: 50px 40px;
}
.myModal > :nth-child(1) > :nth-child(1) > :nth-child(2) > img {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 24px;
  right: 25px;
  cursor: pointer;
}
.myModal_form {
  display: flex;
  flex-direction: column;
}
.myModal_form__title {
  color: var(--text-primary, #0B062D);
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.myModal_form__title > span {
  color: var(--deep-bordeaux-red, #7B2C35);
}
.myModal_form__subTitle {
  color: var(--text-primary, #0B062D);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
  margin-bottom: 32px;
}
.myModal_form__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.myModal_form__box_dot {
  position: absolute;
  right: 10px;
  top: 40px;
}
.myModal_form__box_txt {
  color: var(--text-primary, #0B062D);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.myModal_form__box_inp {
  border-radius: 3px;
  border: 1px solid #C0C0C0;
  padding: 17px 18px;
  outline: none;
  height: 55px;
}
.myModal_form__box_inp:focus {
  outline: 1px solid var(--deep-bordeaux-red, #7B2C35);
}
.myModal_form__box_inp::placeholder {
  color: #C0C0C0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.myModal_form__box_inp__tel > :nth-child(1) {
  display: flex !important;
  align-items: center !important;
  padding: 0 18px !important;
  width: 100% !important;
  height: 55px !important;
}
.myModal_form__box_inp__tel > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  height: 100% !important;
  border: none !important;
}
.myModal_form__box_inp__tel > :nth-child(1) > :nth-child(2) {
  width: 100% !important;
  border: none !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}
.myModal_form__box_inf {
  color: var(--text-primary, #0B062D);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
}
.myModal_form__boxBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myModal_form__boxBtn_btn {
  border-radius: 3px;
  background: var(--deep-bordeaux-red, #7B2C35);
  width: 340px;
  height: 55px;
  padding: 15px 12px;
  border: none;
  color: var(--text-primary-inverse, #FFF);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 13px;
}
.myModal_form__boxBtn_btn:hover {
  background: #B2251A;
}
.myModal_form__boxBtn_btn:active {
  background: #B2251A;
}
.myModal_form__boxBtn_txt {
  width: 340px;
  color: var(--text-primary, #0B062D);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 128%;
}

@media (max-width: 1516px) {
  .myModal > :nth-child(1) {
    min-width: 1140px !important;
  }
}
@media (max-width: 1180px) {
  .myModal > :nth-child(1) {
    min-width: 720px !important;
  }
  .myModal > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-direction: row;
  }
  .myModal > :nth-child(1) > :nth-child(1) > img {
    display: none;
  }
}
@media (max-width: 720px) {
  .myModal > :nth-child(1) {
    margin-right: auto !important;
    margin-left: auto !important;
    min-width: 300px !important;
    max-width: 100% !important;
  }
  .myModal > :nth-child(1) > :nth-child(1) {
    display: flex !important;
    flex-direction: column !important;
  }
  .myModal > :nth-child(1) > :nth-child(1) > img {
    display: none;
  }
  .myModal > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    padding: 20px 20px 60px;
  }
  .myModal > :nth-child(1) > :nth-child(1) > :nth-child(2) > img {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .myModal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .myModal_form__title {
    color: var(--text-primary, #0B062D);
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
    width: 100%;
  }
  .myModal_form__title > span {
    color: var(--deep-bordeaux-red, #7B2C35);
  }
  .myModal_form__subTitle {
    color: var(--text-primary, #0B062D);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    margin-bottom: 30px;
    width: 100%;
  }
  .myModal_form__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
  }
  .myModal_form__box_dot {
    position: absolute;
    right: 10px;
    top: 40px;
  }
  .myModal_form__box_txt {
    color: var(--text-primary, #0B062D);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .myModal_form__box_inp {
    border-radius: 3px;
    border: 1px solid #C0C0C0;
    padding: 17px 18px;
    outline: none;
  }
  .myModal_form__box_inp:focus {
    outline: 1px solid var(--deep-bordeaux-red, #7B2C35);
  }
  .myModal_form__box_inp::placeholder {
    color: #C0C0C0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .myModal_form__box_inp__tel > :nth-child(1) {
    display: flex !important;
    align-items: center !important;
    padding: 0 18px !important;
    width: 100% !important;
  }
  .myModal_form__box_inp__tel > :nth-child(1) > :nth-child(2) {
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
  }
  .myModal_form__box_inf {
    color: var(--text-primary, #0B062D);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
  }
  .myModal_form__boxBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .myModal_form__boxBtn_btn {
    border-radius: 3px;
    background: var(--deep-bordeaux-red, #7B2C35);
    width: 100%;
    height: 55px;
    padding: 15px 12px;
    border: none;
    color: var(--text-primary-inverse, #FFF);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 13px;
  }
  .myModal_form__boxBtn_txt {
    width: 100%;
    color: var(--text-primary, #0B062D);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
  }
}

/*# sourceMappingURL=MainPopUp.module.css.map */
