@keyframes activeBackdrop {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.mission_about_block {
  display: flex;
  padding: 90px 0px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  align-self: stretch;
  position: relative;
  background: #F5F5F5;
}

.wrap {
  padding-top: 81px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.wrap_top {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.wrap_top__title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.wrap_top__title > span {
  color: #D92D20;
}
.wrap_top__back {
  position: absolute;
  top: -30%;
  z-index: 0;
  width: 100%;
  color: rgba(217, 45, 32, 0.07);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 95px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}

.mission_subtile {
  color: #0B062D;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  margin-bottom: 0;
}

.mission_subtile_span {
  color: var(--Red, #D92D20);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}

.mission_cards_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 70px;
}

.mission_card {
  display: flex;
  flex-direction: row;
  gap: 6px;
  border-radius: 3px;
  border: 2px dashed var(--Red, #D92D20);
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
}

.mission_card_text {
  color: #212121;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.mission_card_icon {
  color: var(--yellow-accent, #FCCB06);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.mission_arrow {
  position: absolute;
  width: 150.5px;
  height: auto;
  top: 37%;
  left: 30%;
}

.netw_card {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 453px;
  padding: 24px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 3px;
  border: 1px solid rgba(217, 45, 32, 0);
  background: #FFF;
  box-shadow: 0px 24px 24px 0px rgba(0, 0, 0, 0.09), 0px 6px 13px 0px rgba(0, 0, 0, 0.1);
}

.netw_card_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.netw_card_icon {
  width: 32px;
  height: auto;
  margin: 0;
}

.netw_card_title {
  color: #1F232E;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.netw_card_subtitle {
  color: #4A4A58;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 0;
  margin-top: 12px;
}

.netw_card_middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.netw_card_done_block {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
}

.red_icon {
  margin-top: 2px;
}

.netw_card_done_text {
  color: #4A4A58;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.netw_card_highlight {
  font-weight: 500;
}

.prize_img {
  width: 40px;
  height: auto;
  position: absolute;
  top: -30%;
  right: 5%;
}

@media (max-width: 1500px) {
  .wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
  }
  .wrap_top__title {
    font-size: 35px;
  }
  .wrap_top__back {
    top: -30%;
    font-size: 85px;
  }
  .mission_arrow {
    position: absolute;
    width: 150.5px;
    height: auto;
    top: 37%;
    left: 25%;
  }
  .mission_card {
    max-width: 100%;
  }
  .mission_card_text {
    font-size: 14px;
  }
  .netw_card {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 483px;
  }
  .netw_card_title {
    color: #1F232E;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 19px;
  }
  .netw_card_subtitle {
    font-size: 14px;
  }
}
@media (max-width: 1180px) {
  .wrap {
    padding-top: 116px;
    padding-bottom: 88px;
    gap: 60px;
  }
  .wrap_top__title {
    font-size: 35px;
    letter-spacing: 0.35px;
  }
  .wrap_top__back {
    top: -30%;
    font-size: 75px;
    letter-spacing: 0.75px;
  }
  .mission_arrow {
    display: none;
  }
  .mission_cards_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
  }
  .mission_card {
    gap: 20px;
    border-radius: 3px;
    border: 2px dashed var(--Red, #D92D20);
    padding: 15px 20px;
    max-width: 100%;
    min-width: 100%;
    justify-content: flex-start;
  }
  .mission_card_text {
    font-size: 14px;
  }
  .mission_card_icon {
    font-size: 42px;
  }
  .mission_subtile {
    font-size: 17px;
  }
  .netw_card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
  }
  .prize_img {
    width: 40px;
    height: auto;
    position: absolute;
    top: -20%;
    right: 5%;
  }
}
@media (max-width: 720px) {
  .button {
    margin-top: 42px;
    height: 45px;
    width: 270px;
    padding: 19px 38px 19px 0;
  }
  .prize {
    width: 80px;
    height: auto;
    display: block;
    bottom: -50px;
    right: 30px;
  }
  .wrap {
    padding-top: 59px;
    padding-bottom: 105px;
    gap: 40px;
  }
  .wrap_top__title {
    font-size: 30px;
    flex-direction: column;
    gap: 0;
    letter-spacing: 0.35px;
    text-align: center;
  }
  .wrap_top__back {
    top: -3%;
    font-size: 30px;
    letter-spacing: 0.3px;
  }
  .mission_cards_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
  }
  .mission_card {
    gap: 8px;
    padding: 12px;
  }
  .mission_about_block {
    display: flex;
    padding: 50px 0px;
  }
  .mission_subtile {
    font-size: 14px;
  }
  .mission_card_text {
    font-size: 12px;
  }
  .mission_card_icon {
    font-size: 32px;
  }
  .netw_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 12px 12px 20px 12px;
    gap: 24px;
  }
  .netw_card_title {
    color: #1F232E;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
  }
  .netw_card_subtitle {
    font-size: 12px;
  }
  .netw_card_done_text {
    font-size: 12px;
  }
  .prize_img {
    width: 40px;
    height: auto;
    position: absolute;
    top: -30%;
    right: 5%;
  }
}

/*# sourceMappingURL=GetNetworking.module.css.map */
