@keyframes activeBackdrop {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.mission_about_block {
  display: flex;
  padding-top: 90px;
  padding-bottom: 65px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  align-self: stretch;
  position: relative;
}

.wrap {
  padding-top: 81px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
.wrap_top {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.wrap_top__title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.wrap_top__title > span {
  color: #D92D20;
}
.wrap_top__back {
  position: absolute;
  top: -30%;
  z-index: 0;
  width: 100%;
  color: #FFF1F1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}

.mission_subtile {
  color: #0B062D;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  margin-bottom: 0;
}

.mission_subtile_span {
  color: var(--Red, #D92D20);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

.material_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 120px;
  align-items: center;
  margin-top: 70px;
}

.material_content_left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.material_card_top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.material_card_icon {
  font-size: 32px;
  margin: 0;
}

.material_card_title {
  color: var(--Red, #D92D20);
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.material_card_text {
  color: var(--Dark-Blue, #0B062D);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.mission_arrow {
  position: absolute;
  width: 170.5px;
  height: auto;
  top: 20%;
  left: 20%;
}

.material_img {
  position: absolute;
  bottom: 0%;
  height: 505px;
  width: auto;
}

.material_card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 7px;
  border: 1px solid #D0D5DD;
  background: #FAFBFC;
  box-shadow: 0px 3px 4px 0px rgba(16, 24, 40, 0.05);
  max-width: 680px;
}

.material_arrow {
  position: absolute;
  bottom: 0%;
  left: 47%;
  width: 154px;
  height: auto;
}

@media (max-width: 1500px) {
  .mission_about_block {
    display: flex;
    padding-top: 90px;
    padding-bottom: 45px;
  }
  .wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 80px;
  }
  .wrap_top__title {
    font-size: 35px;
  }
  .wrap_top__back {
    top: -30%;
    font-size: 75px;
  }
  .mission_arrow {
    position: absolute;
    width: 150.5px;
    height: auto;
    top: 25%;
    left: 15%;
  }
  .material_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 70px;
    align-items: center;
    margin-top: 70px;
  }
  .material_content_left {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .material_card_top {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .material_card_icon {
    font-size: 32px;
    margin: 0;
  }
  .material_card_title {
    color: var(--Red, #D92D20);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
  .material_card_text {
    color: var(--Dark-Blue, #0B062D);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .mission_arrow {
    position: absolute;
    width: 170.5px;
    height: auto;
    top: 20%;
    left: 20%;
  }
  .material_img {
    position: absolute;
    bottom: 0%;
    height: 465px;
    width: auto;
  }
  .material_card {
    display: flex;
    padding: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 7px;
    border: 1px solid #D0D5DD;
    background: #FAFBFC;
    box-shadow: 0px 3px 4px 0px rgba(16, 24, 40, 0.05);
    max-width: 520px;
  }
  .material_arrow {
    position: absolute;
    bottom: 0%;
    left: 45%;
  }
}
@media (max-width: 1180px) {
  .wrap {
    padding-top: 116px;
    padding-bottom: 88px;
    gap: 60px;
  }
  .wrap_top__title {
    font-size: 35px;
    letter-spacing: 0.35px;
  }
  .wrap_top__back {
    top: -18%;
    font-size: 45px;
    letter-spacing: 0.75px;
  }
  .mission_arrow {
    display: none;
  }
  .material_arrow {
    display: none;
  }
  .material_content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    margin-top: 40px;
    height: 850px;
    position: relative;
  }
  .material_img {
    position: absolute;
    bottom: 0%;
    left: 15%;
    height: 365px;
    width: auto;
  }
  .material_card {
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  .mission_about_block {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .button {
    margin-top: 42px;
    height: 45px;
    width: 270px;
    padding: 19px 38px 19px 0;
  }
  .prize {
    width: 80px;
    height: auto;
    display: block;
    bottom: -50px;
    right: 30px;
  }
  .wrap {
    padding-top: 59px;
    padding-bottom: 105px;
    gap: 40px;
  }
  .wrap_top__title {
    font-size: 30px;
    letter-spacing: 0.35px;
    text-align: center;
    flex-direction: column;
    gap: 0;
  }
  .wrap_top__back {
    top: -7%;
    font-size: 30px;
    letter-spacing: 0.3px;
  }
  .mission_subtile {
    color: #0B062D;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
  }
  .material_content {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;
    margin-top: 40px;
    height: 750px;
    position: relative;
  }
  .material_img {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 232px;
    width: auto;
  }
  .material_card_icon {
    font-size: 32px;
    margin: 0;
  }
  .material_card_title {
    font-size: 18px;
  }
  .material_card_text {
    font-size: 14px;
  }
}

/*# sourceMappingURL=formatsNetworking.module.css.map */
